<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>ServletExample</display-name>
	<!-- <context-param>
		<param-name>driverName</param-name>
		<param-value>sun.jdbc.JdbcOdbcDriver</param-value>
	</context-param> -->
	<listener>
		<listener-class>com.servlet.util.MyListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<display-name>HelloServlet</display-name>
		<servlet-class>com.servlet.controller.HelloServlet</servlet-class>
		<init-param>
        <param-name>driverName</param-name>
		<param-value>sun.jdbc.JdbcOdbcDriver</param-value>
        </init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<display-name>LoginController</display-name>
		<description></description>
		<servlet-class>com.servlet.controller.LoginController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>AddEmployeeController</servlet-name>
		<display-name>AddEmployeeController</display-name>
		<description></description>
		<servlet-class>com.servlet.controller.AddEmployeeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetEmployeeDataController</servlet-name>
		<display-name>GetEmployeeDataController</display-name>
		<description></description>
		<servlet-class>com.servlet.controller.GetEmployeeDataController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeController</servlet-name>
		<display-name>EmployeeController</display-name>
		<description></description>
		<servlet-class>com.servlet.controller.EmployeeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEmployeeController</servlet-name>
		<url-pattern>/AddEmployeeController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetEmployeeDataController</servlet-name>
		<url-pattern>/GetEmployeeDataController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeController</servlet-name>
		<url-pattern>/EmployeeController</url-pattern>
	</servlet-mapping>
</web-app>
